<div class="container py-5">
    <div class="row text-center">
      <h1 class="quote">
        <span class="written">Per aspera ad astra</span><br>
        <span class="regular">Przez ciernie do gwiazd</span>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100 shadow rounded">
          <img
            src="assets/online-codeing.png"
            class="card-img-top rounded-top img-hover-zoom"
            alt="Programowanie"
          />
          <div class="card-body">
            <h5 class="card-title">Zadania z Programowania</h5>
            <p class="card-text">
              Rozwijaj swoje umiejętności w językach takich jak PHP, JavaScript czy Python. Znajdź inspirujące zadania!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 shadow rounded">
          <img
            src="assets/online-advertising.png"
            class="card-img-top rounded-top img-hover-zoom"
            alt="Informatyka"
          />
          <div class="card-body">
            <h5 class="card-title">Zadania z Informatyki</h5>
            <p class="card-text">
              Odkryj praktyczne zadania z zakresu systemów operacyjnych, sieci i ogólnej informatyki.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100 shadow rounded">
          <img
            src="assets/online-pharmacy.png"
            class="card-img-top rounded-top img-hover-zoom"
            alt="Baza Wiedzy"
          />
          <div class="card-body">
            <h5 class="card-title">Baza Wiedzy</h5>
            <p class="card-text">
              Przeglądaj artykuły i poradniki, które pomogą Ci lepiej zrozumieć kluczowe zagadnienia z lekcji.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
