body {
    font-family: Arial, sans-serif;
  }
  
  .navbar .nav-link.active {
    font-weight: bold;
    color: #ffcc00 !important;
  }
  
  .text-decoration-line-through {
    text-decoration: line-through;
  }